body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:133px;
  display:flex;
}
#u2502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:159px;
  width:25px;
  height:24px;
  display:flex;
}
#u2503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:159px;
  width:24px;
  height:24px;
  display:flex;
}
#u2504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:156px;
  width:29px;
  height:30px;
  display:flex;
}
#u2505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:28px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:157px;
  width:31px;
  height:28px;
  display:flex;
}
#u2506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:88px;
  width:48px;
  height:28px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2507_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:156px;
  width:135px;
  height:27px;
  display:flex;
}
#u2508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
}
#u2509_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u2511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
  display:flex;
}
#u2511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:94px;
  height:50px;
  display:flex;
}
#u2512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:50px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:0px;
  width:94px;
  height:50px;
  display:flex;
}
#u2513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:93px;
  height:50px;
  display:flex;
}
#u2514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
